.aside { 
    display: flex;
    flex-direction: column;

    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.aside__title { 
    font-weight: bold;
    padding: 50px;
}

.aside__options { 
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.aside__option { 
    border: none;
    background-color: transparent;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color);
    padding: 10px 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.aside__option--check
{
    background-color: var(--choose-color);
}

.aside__option:hover,
.aside__option:active
{
    background-color: var(--hover-active-color);
}

.aside__option:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--text-color);
}

@media (max-width: 750px) {
    .aside__title { 
        padding: 30px;
    }

    .aside__options { 
        padding-bottom: 30px;
    }
}

@media (max-width: 400px) {
    .aside__title { 
        padding: 15px;
    }

    .aside__options { 
        padding-bottom: 15px;
    }
}
